<h1 class="text-center mt-4">About Alpha Blog</h1>

<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos vitae nesciunt nihil. Maiores veritatis, eaque ipsa nulla atque corporis. Soluta dolore esse officiis officia qui! Natus velit nihil est architecto, vitae iusto, dolor ex unde exercitationem magni illum sint ea officiis, praesentium recusandae laudantium aliquam expedita doloribus aperiam distinctio? Eveniet, quaerat facere saepe iste excepturi voluptate voluptatum deserunt veritatis delectus praesentium tempore nihil architecto cum, vitae totam possimus ratione alias est inventore illo iure quos! Delectus dolorum illum placeat repellendus, laudantium voluptate a corrupti, assumenda officiis iure magni aspernatur quas saepe exercitationem consequuntur! Quidem molestias eius aliquid quos rem quae.</p>
        </div>
    </div>
</div>

