<div class="d-flex flex-column justify-content-end">

<div class="container-fluid justify-content-center d-flex flex-column p-0" id="fleep">
  <div class="mt-0 p-5 text-center d-block position-relative">
    <div class=" rounded m-auto px-4 py-5 w-50 " id="home-hero-container">
      <h1 class="display-2 text-uppercase fw-bold">Alpha Blog</h1>
      <h3 class="text-secondary">Join us today!</h3>
      <%= link_to "Sign Up!", signup_path, class: "w-50 btn btn-outline-secondary btn-lg ms-auto mt-3" %>
      
      </div>
  </div>
  </div>

  <div class="container-fluid text-center p-2 justify-content-center d-flex flex-column w-75 mt-auto" >
  <h3 class="display-5">About the Alpha Blog project</h3>
 <p>Alpha Blog was created as part of my learning of Ruby on Rails, for this project and to ensure my understanding I did not use Rails scaffolding. In this project I utilised many-to-many associations, authentication systems, user validations, paginations and many other Rails functions.</p>
 <p>In this app you can sign up as a user and create articles, edit your own articles or delete your article. All articles are displayed in the Article index and Alpha Blog users are all displayed in the User index. Each article is linked to the user who created it and a category if a category was used in the article creation. Alpha Blog has the ability to add admin users, admin users have much broader access and are able to edit any article and delete users.</p>

  </div>
</div>

