<div class="d-flex flex-column justify-content-end">

<div class="container-fluid justify-content-center d-flex flex-column p-0" id="fleep">
  <div class="mt-0 p-5 text-center d-block position-relative">
    <div class=" rounded m-auto px-4 py-5 w-50 " id="home-hero-container">
      <h1 class="display-2 text-uppercase fw-bold">Alpha Blog</h1>
      <h3 class="text-secondary">Join us today!</h3>
      <button type="button" class="w-50 btn btn-outline-secondary btn-lg ms-auto mt-3 ">Sign up</button>
      </div>
  </div>
  </div>

  <div class="container-fluid text-center p-2 justify-content-center d-flex flex-column w-75 mt-auto" >
  <h3 class="display-5">A little about us </h3>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam nihil sapiente tempore, quis neque dolorum aperiam, saepe asperiores delectus odit assumenda exercitationem ab voluptates. Architecto tenetur laboriosam neque magni odio.</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, perspiciatis officia aliquam nobis libero, et officiis at enim minima a vitae ipsum! Nobis praesentium, vel culpa, blanditiis atque provident ab adipisci accusantium inventore, reiciendis porro vero quod rerum amet? Ex.</p>

  </div>
</div>

