a {
    text-decoration: none !important;
    &:hover {
        color: #8fa48f;
    }
}

.form-title-styles {
    color: #8fa48f;

}

.heading-styles {
    color: #8fa48f;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;

    &:hover {
        color: #aac0aa ;
    }
}

textarea {
    min-height: 200px !important;
}
.navbar {
    background-color: #ebf4eb !important;
}

h1 {
    color: #aac0aa !important;
    letter-spacing: -2px !important;
    
}

#logo {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 2rem;
    color: #aac0aa;
    font-weight: 700;
}

#fleep {
    min-height: 600px;
    background-image: url('home.jpg');
    background-position: center center;
    background-size: cover;
    
}

#home-hero-container {
    background: #ffffffBF;
}

@media (max-width: 1199.98px) { 
    #home-hero-container {
        width: 95% !important;
    }
 }

 @media (max-width: 520px) {
    footer div {
        flex-direction: column-reverse;
        justify-content: center !important;
    }

    #footer-nav {
        flex-direction: column;

    }

    #footer-padding {
        height: 300px !important;
    }

 }

footer {
    background-color: #ebf4eb !important;
    

    
}



.nav-link {
    color: #8fa48f !important ;  
}

/* Pagination Styling */
.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em;
    border-radius: 15px; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #8fa48f; }
    .flickr_pagination a {
      border: 1px solid #8fa48f;
      color: gray;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: gray;
        background: gray;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }