
<footer class="footer mt-auto py-3  text-secondary ">
    <div class="container d-flex justify-content-between align-items-center">
        <p class="col-md-6 p-1 mb-0 text-muted">Copyright © <%= link_to "Nicole Holland", "https://nicoleholland.ca", target: "blank", class: "text-muted" %></p>
         <ul id="footer-nav" class="nav col-md-6 p-1 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Articles</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Users</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Login</a></li>
      
         </ul>
    </div>
</footer>


